<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xszheng.mapper.SkProductStockMapper">
	<resultMap type="com.xszheng.domain.SkProductStock" id="baseResult">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="number" column="number" jdbcType="INTEGER"/>
		<result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
		<result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
		<result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 减库存 -->
	<update id="reduceStock">
		UPDATE
			sk_product_stock
		SET
			number = number - 1
		WHERE
			id = #{id, jdbcType=BIGINT}
		AND	start_time <![CDATA[<=]]> #{killTime, jdbcType=TIMESTAMP}
		AND end_time >= #{killTime, jdbcType=TIMESTAMP}
		AND number > 0
	</update>
	
	<!-- 根据主键获取秒杀商品信息 -->
	<select id="getOneById" parameterType="long" resultMap="baseResult">
		SELECT
			*
		FROM
			sk_product_stock
		WHERE
			id = #{id, jdbcType=BIGINT}
	</select>
	
	<!-- 根据偏移量查询指定数量的商品信息 -->
	<select id="getListByPage" resultMap="baseResult">
		SELECT
			*
		FROM
			sk_product_stock
		ORDER BY add_time DESC
		LIMIT #{skipSize}, #{pageSize}
	</select>
	
	<!-- 利用存储过程执行秒杀逻辑(减库存、新增秒杀记录) -->
	<select id="seckillByProcedure" statementType="CALLABLE">
		call execute_kill(
			#{seckillId, jdbcType=BIGINT, mode=IN},
			#{phone, jdbcType=VARCHAR, mode=IN},
			#{killTime, jdbcType=TIMESTAMP, mode=IN},
			#{result, jdbcType=INTEGER, mode=OUT}
		)
	</select>
</mapper>